
.size {
    font-size: 10px;
}


.tcks{
    color: rgb(53, 212, 53);
}


.fotoba{
    background-color: rgb(0, 0, 0.8) } 

 
h1{
  text-align: right;
  font-weight: lighter;
 }    

 
.texto{
    text-align: center;
}
 

.frase{
    text-align: center;
    font-size: 15px;
}

h6{
    font-size: 20px;
}


.botones{
    padding-left: 5%;
    padding-bottom: 5%;
}



.btn-primary-nar{
    background-color:rgb(209, 140, 13);
    font-weight: bold;
}


.btn-secondary-azul{
    background-color: rgb(17, 90, 136);
    font-weight: bold;
}

 
.btn-secondary-gris{
    background-color: grey;
    font-weight: bold;
}


.btn-secondary-rojo{
    background-color: red;
    font-weight: bold;
}


.col1{
height: 500px;
width: 300px;
}

.posicionCartas{
 justify-content: center;
 padding-bottom: 50px;
}

.fondo-honolulu{
    background-color: #3d4d66;
    color: white;
}

 .posicion{
    padding-bottom: 20px;
} 


